{% extends 'layout.html' %}

{% block body %}

<h2>ETHEREUM PRICE</h2>

<div class="card card-body">
    Aqui se muestra la grafica y bd solamente del precio.
    
    <iframe src="../static/grafico_precio_eth.html" height="400px"></iframe>
    
    <form action="/plot_price_eth" method='POST'>
        <button type="" class="btn btn-primary btn-block">PLOT PRICE</button>    
    </form>
    <form action="/add_register_eth" method='POST'>
        <button type="submit" class="btn btn-secondary btn-block">Save ETHEREUM price</button>    
    </form>
</div>

<h2>OHLC ETHEREUM DATA</h2>

    <div class="card card-body">
        Aqui se muestra la grafica de velas.
        <div class="card card-body">

            <iframe src="../static/grafico_30_eth.html" height="400px"></iframe>

            <form action="/show_candle_30_eth" method='POST'>
                <button type="" class="btn btn-primary btn-block">SHOW 30 MNTS TODAY CANDLE</button>    
            </form>

            <iframe src="../static/grafico_15_eth.html" height="400px"></iframe>

            <form action="/show_candle_15_eth" method='POST'>
                <button type="" class="btn btn-primary btn-block">SHOW 15 MNTS TODAY CANDLE</button>    
            </form>
            
            <iframe src="../static/grafico_1_eth.html"  height="400px"></iframe>
            <form action="/show_candle_1_eth" method='POST'>
                <button type="" class="btn btn-primary btn-block">SHOW 1 MNTS TODAY CANDLE</button>    
            </form>
    </div>
</div>

<h2>BD REGISTROS</h2>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <td>Price</td>
                    <td>Date</td>
                    <td>Operations</td>
                </tr>
                <tbody>
                    {% for registro in registros %}
                    <tr>
                        <td> {{registro.1 }} </td>
                        <td> {{registro.2 }} </td>
                        <td>
                            <a href="/delete/{{registro.0}}" class = "btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </thead>
        </table>
    </div>
</div>



{% endblock %}