{% extends 'layout.html' %}

{% block body %}

<figure class="text-center">
    <blockquote class="blockquote">
      <h1>Welcome to C.A.T. BOT</h1>
      <p>Crypto Analysis and Trading</p>
    </blockquote>
    <figcaption class="blockquote-footer">
        This page collects information on different cryptocurrencies from the Binance platform
    </figcaption>
</figure>

<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../static/poligon1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">POLYGON</h5>
                    <p class="card-text">Polygon is the most proven way to build and scale your projects on Ethereum, the world's largest blockchain ecosystem. Build advanced dApps with client-side proving with the first decentralized rollup that leverages execution proofs of concurrent, local transactions.</p>
                    <form action="/index-matic">
                        <button type="" class="btn btn-primary btn-block">SEE MORE</button>    
                    </form>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../static/bitcoin1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BITCOIN</h5>
                    <p class="card-text">Bitcoin is open source; its design is public, no one owns or controls Bitcoin and everyone can participate. Through its many unique properties, Bitcoin allows interesting uses not contemplated by any previous payment system.</p>
                    <form action="/index-btc">
                        <button type="" class="btn btn-primary btn-block">SEE MORE</button>    
                    </form>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../static/cardano-og-logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">CARDANO</h5>
                    <p class="card-text">Cardano is a blockchain platform for changemakers, innovators, and visionaries, with the tools and technologies required to create possibility for the many, as well as the few, and bring about positive global change.</p>
                    <form action="/index-ada">
                        <button type="" class="btn btn-primary btn-block">SEE MORE</button>    
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../static/doge.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">DOGE</h5>
                    <p class="card-text">Dogecoin has been used primarily as a tipping system on Reddit and Twitter to reward the creation or sharing of quality content. You can get a tip from Dogecoin by participating in a community that uses the digital currency, or you can get your Dogecoin from a Dogecoin faucet.</p>
                    <form action="/index-doge">
                        <button type="" class="btn btn-primary btn-block">SEE MORE</button>    
                    </form>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../static/ethereum-eth-logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ETHEREUM</h5>
                    <p class="card-text">Ethereum is a technology that's home to digital money, global payments, and applications. The community has built a booming digital economy, bold new ways for creators to earn online, and so much more. It's open to everyone, wherever you are in the world all you need is the internet.</p>
                    <form action="/index-eth">
                        <button type="" class="btn btn-primary btn-block">SEE MORE</button>    
                    </form>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../static/criptos.jpg " class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">COMING SOON</h5>
                    <p class="card-text">I hope to grow up this proyect :D</p>
                    <form action="/">
                        <button type="" class="btn btn-primary btn-block">LATER</button>    
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}


