{% extends 'layout.html' %}

{% block body %}

<h2>BITCOIN PRICE</h2>

<div class="card card-body">
    Aquí se muestra la gráfica y la base de datos solamente del precio.
    
    <iframe src="../static/grafico_precio_btc.html" height="400px"></iframe>
    <form action="/plot_price_btc" method='POST'>
        <button type="" class="btn btn-primary btn-block">PLOT PRICE</button>    
    </form>    
    <form action="/add_register_btc" method='POST'>
        <button type="submit" class="btn btn-secondary btn-block">Save BITCOIN price</button>    
    </form>
</div>

<h2>OHLC BITCOIN DATA</h2>

<div class="card card-body">
    Aquí se muestra la gráfica de velas.
    <div class="card card-body">

        <iframe src="../static/grafico_30_btc.html" height="400px"></iframe>

        <form action="/show_candle_30_btc" method='POST'>
            <button type="submit" class="btn btn-primary btn-block">SHOW 30 MNTS TODAY CANDLE</button>    
        </form>

        <iframe src="../static/grafico_15_btc.html" height="400px"></iframe>

        <form action="/show_candle_15_btc" method='POST'>
            <button type="submit" class="btn btn-primary btn-block">SHOW 15 MNTS TODAY CANDLE</button>    
        </form>
            
        <iframe src="../static/grafico_1_btc.html"  height="400px"></iframe>
        <form action="/show_candle_1_btc" method='POST'>
            <button type="submit" class="btn btn-primary btn-block">SHOW 1 MNTS TODAY CANDLE</button>    
        </form>
    </div>
</div>

<h2>BD REGISTROS</h2>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <td>Price</td>
                    <td>Date</td>
                    <td>Operations</td>
                </tr>
                <tbody>
                    {% for registro in registros %}
                    <tr>
                        <td> {{registro.1 }} </td>
                        <td> {{registro.2 }} </td>
                        <td>
                            <a href="/delete/btc/{{ registro.0 }}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </thead>
        </table>
    </div>
</div>

{% endblock %}